:host {
  background-color: var(--vl-primary-color);
  border-bottom: 1px solid #fff;
}

.main-nav {
  --vl-primary-color: #fff;
  --vl-text-color-secondary: #b4d1ef;
  --vl-text-color: var(--vl-text-color-secondary);

  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 16px;
}

.logo {
  flex-shrink: 0;
  display: inline-flex;
  margin-right: 16px;
}

p-tabmenu {
  flex-grow: 1;
  overflow: hidden;
}

:host ::ng-deep {
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    box-shadow: none;
  }

  // .p-tabmenu.sub-nav .p-tabmenu-nav .p-tabmenuitem {
  //   &.p-menuitem-link {
  //     color: var(--vl-text-color-secondary);
  //   }

  //   &.p-menuitem-link.p-menuitem-link-active {
  //     color: #fff;
  //   }
  // }
}
