.container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1064px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.router-wrapper {
  position: relative;
  flex-grow: 1;
  padding: 20px 56px;
  overflow: hidden;
}
