<header>
  <span class="title">Phones</span>
  <div class="add-item">
    <span class="add-btn">+</span>
    <div class="add-content">
      <div class="add-option" *ngFor="let phone of phones" (click)="addPhoneClickHandler(phone.typeName)">
        {{ phone.typeName }}
      </div>
    </div>
  </div>
  <button class="save-button" (click)="saveHandler()">Save</button>
</header>

<div class="products">
  <app-phone [phone]="product" *ngFor="let product of products$ | async; trackBy: trackByFn"></app-phone>
</div>
