:host {
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 40px;
}

header {
  display: flex;
}

.title {
  font-size: 12px;
  font-weight: bold;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.add-item {
  display: inline-flex;
  position: relative;
  padding-bottom: 5px;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 6px;
  padding: 2px;
  background-color: var(--vl-primary-color);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.add-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  background: #fff;
  border: 1px solid var(--vl-primary-color);
  box-shadow: 0px 0px 20px rgba(39, 103, 193, 0.2);
  border-radius: 3px;
}

.add-option {
  padding: 10px 15px;
  cursor: pointer;
}

.add-option:hover {
  background: var(--vl-menu-item-active-background);
}

.add-item:hover .add-content {
  display: block;
}

.save-button {
  margin-left: auto;
  background: var(--vl-primary-color);
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
