@import '../../../styles/variables.scss';

:host {
  display: flex;
  height: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: $pageContainerPadding;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

vl-card {
  width: calc(25% - 15px);
}
