<ng-container *vlLet="uiDefinition$ | async as uiDefinition">
  <vl-loader *ngIf="uiDefinition == null; else content" [label]="'Loading UI definition'"></vl-loader>

  <ng-template #content>
    <vl-runtime-preview
      *ngIf="(isLegacy$ | async) === true"
      [modelId]="uiDefinition!.modelId"
      [uiDefinition]="$any(uiDefinition)"
    ></vl-runtime-preview>
    <vl-cms-preview
      *ngIf="(isLegacy$ | async) === false"
      [uiDefinition]="$any(uiDefinition!.source)"
      [config]="config"
    ></vl-cms-preview>
  </ng-template>
</ng-container>
