<form [formGroup]="form" vlPreValidate #ngForm="ngForm" (submitValid)="saveHandler($event)" [controlLabels]="labels">
  <div class="header">
    <h2>Debug Settings</h2>
    <p-button
      icon="pi pi-times"
      styleClass="p-button-rounded p-button-secondary p-button-text plain-mode-icon"
      (click)="closeHandler($event)"
    ></p-button>
  </div>

  <vl-form-error-messages></vl-form-error-messages>

  <div class="content form-wrapper">
    <div class="flex align-items-center gap-2 pt-3">
      <vl-info-tooltip
        tooltip="Debug Mode allows a user to use real data when launching Configuration UI."
      ></vl-info-tooltip>
      <label>Debug Mode</label>
      <p-inputSwitch [formControl]="formControls.debugMode"></p-inputSwitch>
    </div>

    <p-divider></p-divider>

    <ng-container *ngIf="formControls.debugMode.value">
      <div class="field">
        <label
          *vlInfoTooltip="
            'SF Object ID is either Account ID, Opportunity ID, or Quote ID. \n The system will take data from the provided object when launching Configuration UI.'
          "
          >SF Object ID</label
        >
        <input [formControl]="formControls.id" pInputText type="text" />
        <vl-control-error-message [control]="formControls.id" [controlLabel]="labels.id"></vl-control-error-message>
      </div>

      <div class="field w-full">
        <label><strong style="font-size: 12px">Flows</strong></label>
        <table>
          <thead>
            <tr>
              <th [width]="30"></th>
              <th [width]="160">ID</th>
              <th [width]="160">Entry Path</th>
              <th>QueryParams</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let flow of flows$ | async" (click)="selectFlowHandler(flow.id)">
              <td>
                <p-radioButton
                  [inputId]="flow.id"
                  [value]="flow.id"
                  [formControl]="formControls.flowId"
                ></p-radioButton>
              </td>
              <td>{{ flow.id }}</td>
              <td>{{ flow.entryPath }}</td>
              <td>{{ flow.queryParamsStr }}</td>
            </tr>
          </tbody>
        </table>
        <vl-control-error-message
          [control]="formControls.flowId"
          [controlLabel]="labels.flowId"
        ></vl-control-error-message>
      </div>
    </ng-container>
  </div>

  <div class="footer">
    <p-button styleClass="p-button-primary" label="Save" (onClick)="ngForm.ngSubmit.emit($event)"></p-button>
  </div>
</form>
